name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        id: toolchain
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: cache cargo binaries
        id: cache
        uses: actions/cache@v4
        with:
          path: "/usr/share/rust/.cargo"
          key: ${{ runner.os }}-cargo-bins-${{ env.GITHUB_SHA }}
          restore-keys: ${{ runner.os }}-cargo-bins-
      - name: install tools
        if: steps.cache.outputs.cache_hit != 'true'
        run: cargo install cargo-all-features
      - name: Run Tests
        run: cargo all-features test
      - name: Build
        run: cargo all-features build
      - name: Build docs
        run: cargo all-features doc
